#instructionImage1 { 
  background: url($images-path + 'instructions-1.png') #fff no-repeat top left; 
  margin-left: 20px; 
  height: 45px; 
  margin-bottom: 20px;
}
#instructionImage2 { 
  background: url($images-path + 'instructions-2.png') #fff no-repeat top left; 
  margin-left: 20px; 
  height: 130px;
}