<h3>Welcome to DC Street Hockey Mobile!</h3>
<p>
  This is only a preview website and there may be issues.  Please email any issues/feedback to <a href="mailto:ddouglass@gmail.com">Danny Douglass</a> and include the following: Phone Type, OS Version, Description, and a Screenshot.
</p>
<p>Take a look at the new features to see the plan for expanding the mobile website.  And even more importantly, you can vote on the features you want to see first!</p>
<a href="#features">
  <button type="button" class="btn btn-success">View & Vote on New Features</button>
</a>
<br /><br />
<h4>How do I navigate in the Mobile Site?</h4>
<p>Using the button in the top right of the page, you can expand the navigation: </p>
<p id="instructionImage1">&nbsp;</p>
<p>You will then see pages that are currently available in the mobile site: </p>
<p id="instructionImage2">&nbsp;</p>