<div class="page-header">
  <h1>Schedule of Games</h1>
</div>

<p>
  <button type="button" class="btn btn-default btn-lg">Wednesday</button>
  <button type="button" class="btn btn-primary btn-lg">Sunday</button>
</p>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Date: 9/8/2013</th>
        <th>Away</th>
        <th></td>
        <th>Home</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>2:00</td>
        <td>Sioux City Sarsparilla</td>
        <td>vs.</td>
        <td>Blues Brothers</td>
    </tr>
    <tr>
        <td>3:00</td>
        <td>Stingrays</td>
        <td>vs.</td>
        <td>GB Top Shelf</td>
    </tr>
    <tr>
        <td>4:00</td>
        <td>Heavy Breathers</td>
        <td>vs.</td>
        <td>Sin City</td>
    </tr>
    <tr>
        <td>5:00</td>
        <td>Zubaz Phantoms</td>
        <td>vs.</td>
        <td>Phantoms</td>
    </tr>
    <tr>
        <td>6:00</td>
        <td>Fury</td>
        <td>vs.</td>
        <td>Ice Out</td>
    </tr>
    <tr>
        <td>7:00</td>
        <td>Plauge</td>
        <td>vs.</td>
        <td>Haze</td>
    </tr>
    <tr>
        <td>8:00</td>
        <td>Gladiators</td>
        <td>vs.</td>
        <td>Hitmen</td>
    </tr>
    <tr>
        <td>9:00</td>
        <td>Grant Thornton</td>
        <td>vs.</td>
        <td>Group Therapy</td>
    </tr>
  </tbody>
</table>